.bodybg {
    background-image: url("../images/2001.jpg");
    background-size: cover;
    background-repeat: no-repeat; /*  Do not repeat the image */
    /* background-size: cover;  Resize the background image to cover the entire container */
}