/*! Custom styles for this template */
body {
  background-color: #fff;
  border-color: #fff;
  color: #757575;
}
.messenger {
  background-color: #fff;
  border-color: #fff;
  color: #757575;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.messenger-sidebar {
  -webkit-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInRight;
       -o-animation-name: fadeInRight;
          animation-name: fadeInRight;
  display: none;
  padding: 15px;
}
.messenger-sidebar.active {
  display: block;
}
.messenger-list {
  list-style: none;
  margin: 0 -5px;
  padding-left: 0;
}
.messenger-list:before,
.messenger-list:after {
  content: " ";
  display: table;
}
.messenger-list:after {
  clear: both;
}
.messenger-list-item {
  display: block;
  padding: 5px;
  position: relative;
}
.messenger-list-link {
  border-radius: 3px;
  color: #757575;
  display: block;
  padding: 10px;
  position: relative;
}
.messenger-list-link:hover,
.messenger-list-link:focus {
  background-color: #eee;
  color: #424242;
  text-decoration: none;
}
.active > .messenger-list-link,
.active > .messenger-list-link:hover,
.active > .messenger-list-link:focus {
  background-color: #0288d1;
  color: #fff;
}
.messenger-list-avatar {
  float: left;
  margin-right: 10px;
}
.messenger-list-details {
  min-height: 40px;
  overflow: hidden;
}
.messenger-list-name {
  display: block;
  font-weight: 500;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.messenger-list-date {
  display: none;
}
.messenger-content {
  -webkit-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInRight;
       -o-animation-name: fadeInRight;
          animation-name: fadeInRight;
  display: none;
}
.messenger-content.active {
  display: block;
}
.messenger-content-inner {
  display: table;
  height: 100%;
  table-layout: fixed;
  width: 100%;
}
.messenger-content-header {
  border-collapse: collapse;
  display: table-row;
}
.messenger-content-header-inner {
  display: table-cell;
  height: 0;
  width: 100%;
}
.messenger-toolbar {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.messenger-toolbar:before,
.messenger-toolbar:after {
  content: " ";
  display: table;
}
.messenger-toolbar:after {
  clear: both;
}
.messenger-toolbar-tools {
  float: right;
}
.messenger-content-body {
  border-collapse: collapse;
  display: table-row;
}
.messenger-content-body-inner {
  display: table-cell;
  height: 100%;
  width: 100%;
}
.messenger-scrollable-content {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.messenger-content-footer {
  border-collapse: collapse;
  display: table-row;
}
.messenger-content-footer-inner {
  display: table-cell;
  height: 0;
  width: 100%;
}
.messenger-compose {
  background-color: #fff;
  border-top: 1px solid #eee;
  padding: 10px 15px;
}
.messenger-compose-actions {
  float: right;
  margin-left: 15px;
}
.messenger-compose-action {
  float: left;
}
.messenger-compose-message {
  overflow: hidden;
}
.messenger-compose-input {
  background-color: #fff;
  background-image: none;
  border: none;
  color: #757575;
  display: block;
  font-size: 13px;
  line-height: 1.538462;
  max-height: 100px;
  min-height: 40px;
  outline: none;
  padding: 0;
  width: 100%;
}
.messenger-welcome {
  -webkit-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInRight;
       -o-animation-name: fadeInRight;
          animation-name: fadeInRight;
  display: none;
  text-align: center;
}
.messenger-welcome-body {
  display: table;
  height: 100%;
  table-layout: fixed;
  width: 100%;
}
.messenger-welcome-inner {
  display: table-cell;
  height: 100%;
  padding-bottom: 45px;
  padding-top: 45px;
  vertical-align: middle;
  width: 100%;
}
.messenger-avatar {
  margin: 15px auto;
  position: relative;
  width: 128px;
}
.messenger-avatar-btn {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: none;
  border: none;
  border-radius: 6px 0;
  bottom: 0;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 30px;
}
.messenger-avatar-btn:hover,
.messenger-avatar-btn:focus {
  background-color: #000;
}
.messenger-heading {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}
.messenger-nav {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.messenger-nav > li {
  display: block;
  position: relative;
}
.messenger-nav > li > a {
  display: inline-block;
  padding: 10px 15px;
  position: relative;
}
.messenger-nav > li > a:hover,
.messenger-nav > li > a:focus {
  text-decoration: none;
}
.conversation {
  margin-bottom: 0;
  padding: 15px;
}
.conversation-item {
  display: block;
  margin-bottom: 15px;
  position: relative;
}
.conversation-messages {
  overflow: hidden;
}
.conversation-message {
  border-radius: 4px;
  margin-bottom: 1px;
  margin-top: 1px;
  padding: 6px 12px;
  position: relative;
  word-wrap: break-word;
}
.conversation-message:first-child:after {
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
}
.conversation-timestamp {
  color: #757575;
  font-size: 11px;
  margin-top: 5px;
}
.conversation-files {
  margin-top: 5px;
}
.conversation-self .conversation-avatar {
  float: left;
}
.conversation-self .conversation-messages {
  padding-left: 15px;
}
.conversation-self .conversation-message {
  background-color: #eee;
  clear: left;
  color: #424242;
  float: left;
}
.conversation-self .conversation-message:after {
  border-right-color: #eee;
  right: 100%;
  top: 10px;
}
.conversation-self .conversation-timestamp {
  clear: left;
  float: left;
}
.conversation-self .conversation-files {
  clear: left;
  float: left;
}
.conversation-other .conversation-avatar {
  float: right;
}
.conversation-other .conversation-messages {
  padding-right: 15px;
}
.conversation-other .conversation-message {
  background-color: #0288d1;
  clear: right;
  color: #fff;
  float: right;
}
.conversation-other .conversation-message:after {
  border-left-color: #0288d1;
  left: 100%;
  top: 10px;
}
.conversation-other .conversation-timestamp {
  clear: right;
  float: right;
}
.conversation-other .conversation-files {
  clear: right;
  float: right;
}
.title-bar {
  margin-bottom: 10px;
}
.dropdown-menu {
  margin: 0;
}
.sidenav > li.active > a:after {
  border-right-color: #fff;
}
.file {
  width: 100px;
}
@media (min-width: 480px) {
  .messenger-list-item {
    float: left;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .conversation-message {
    max-width: 75%;
  }
}
@media (min-width: 992px) {
  .messenger-sidebar {
    border-right: 1px solid #eee;
    bottom: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 400px;
  }
  .messenger-sidebar-body {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 60px;
  }
  .messenger-list {
    margin-left: 0;
    margin-right: 0;
  }
  .messenger-list-item {
    padding: 0;
    width: 100%;
  }
  .messenger-list-link {
    border-radius: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  .messenger-list-date {
    display: block;
    float: right;
    font-size: 11px;
    line-height: 20px;
    margin-left: 2px;
  }
  .messenger-content {
    bottom: 0;
    left: 280px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
  }
  .messenger-welcome {
    bottom: 0;
    display: block;
    left: 280px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
  }
  .messenger-content.active ~ .messenger-welcome {
    display: none;
  }
  .layout-content {
    height: 100%;
    left: 0;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    z-index: 1000;
  }
  .title-bar {
    display: none;
  }
  .conversation-message {
    max-width: 50%;
  }
}
