<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<section layout:fragment="content">
    <div class="layout-main">
        <div class="layout-content">
            <div class="layout-content-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2><b>List Of Agents</b></h2>
                                </div>
                                <div class="card-body">
                                    <table id="demo-datatables-fixedheader-1" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Member Id</th>
                                            <th>Member Name</th>
                                            <th>Mobile</th>
                                            <th>PAN</th>
                                            <th>Identity Type</th>
                                            <th>Identity Number</th>
                                            <th>Issued Place</th>
                                            <th>Issued Date</th>
                                            <th>Address</th>
                                            <th>Ward Number</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="agent: ${agents}">
                                            <td class="count"></td>
                                            <td th:text="${agent.memberId}"></td>
                                            <td th:text="${agent.memberName}"></td>
                                            <td th:text="${agent.mobileNumber}"></td>
                                            <td th:text="${agent.panNumber}"></td>
                                            <td th:text="${agent.identityType}"></td>
                                            <td th:text="${agent.identityNumber}"></td>
                                            <td th:text="${agent.identityIssuedPlace}"></td>
                                            <td th:text="${agent.identityIssuedDate}"></td>
                                            <td th:text="${agent.address}"></td>
                                            <td th:text="${agent.wardNumber}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>