<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<section layout:fragment="content">
    <div class="layout-main">
        <div class="layout-content">
            <div class="layout-content-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                  <h2><span class="col-md-11"><b>List Of Verified Customers</b></span>
                                    <span class="col-md-1" style="text-align: right"><span class="col-sm-12"><span id="btn" class="icon icon-download"></span></span></span></h2>
                                </div>
                                <div class="card-body">
                                    <table id="demo-datatables-fixedheader-1" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Date</th>
                                            <th>User</th>
                                            <th>Member Id</th>
                                            <th>Member Name</th>
                                            <th>Mobile Number</th>
                                            <th>Group</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="member: ${members}">
                                            <td class="count"></td>
                                            <td th:text="${member.date}"></td>
                                            <td th:text="${member.user.name}"></td>
                                            <td th:text="${member.id}"></td>
                                            <td th:text="${member.name}"></td>
                                            <td th:text="${member.mobile}"></td>
                                            <td th:text="${member.group}"></td>
                                            <td><a th:href="@{'/customer/{mobile}' (mobile=${member.mobile})}" class="button">View</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>