<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<section layout:fragment="content">
    <div class="layout-main">
        <div class="layout-content">
            <div class="layout-content-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <h3><b>Select a Role</b></h3>
                                </div>
                                <div class="card-body">
                                    <h3><form th:action="@{/assign-role/{id}/register}" method="get">
                                        <select class="form-control" id="mySelect">
                                            <option value="default">Choose a specific role!</option>
                                            <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}" id="role"></option>
                                        </select>
                                    </form></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).change(function() {
            var selected = $('#mySelect :selected').val();
            var link = "/assign-role/" +selected+ "/register";
            $(location).attr('href', link);
        });
    </script>
</section>
</html>