<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<section layout:fragment="content">
    <div class="layout-main">
        <div class="layout-content">
            <div class="layout-content-body">
                <div class="container-fluid">
                    <b><h1>Bank Details</h1></b>
                    <hr/>
                    <div class="row">
                        <div class="col-md-4">
                            <h3>Bank Name: <b><span th:text="${bank.name}"></span></b></h3>
                            <h3>Test IP: <b><span th:text="${bank.testIP}"></span></b></h3>
                            <h3>Test Port: <b><span th:text="${bank.testPort}"></span></b></h3>
                            <h3>Live IP: <b><span th:text="${bank.liveIP}"></span></b></h3>
                            <h3>Live Port: <b><span th:text="${bank.livePort}"></span></b></h3>
                            <h3>CBS Test IP: <b><span th:text="${bank.cbsTestIP}"></span></b></h3>
                            <h3>CBS Test Port: <b><span th:text="${bank.cbsTestPort}"></span></b></h3>
                            <h3>CBS Live IP: <b><span th:text="${bank.cbsLiveIP}"></span></b></h3>
                            <h3>CBS Live Port: <b><span th:text="${bank.cbsLivePort}"></span></b></h3>
                            <h3>Follow Up Date: <b><span th:text="${bank.followUp}"></span></b></h3>
                            <hr/>
                            <h3>VPN Parameters: <b><span th:text="${bank.vpnParameters}"></span></b></h3>
                            <h3>VPN Done: <b><span th:text="${bank.vpn}"></span></b></h3>
                            <h3>ISO Testing: <b><span th:text="${bank.isoTesting}"></span></b></h3>
                            <h3>Account Link Method: <b><span th:text="${bank.accountLinkMethod}"></span></b></h3>
                            <h3>Account Link: <b><span th:text="${bank.accountLink}"></span></b></h3>
                            <h3>Testing: <b><span th:text="${bank.testing}"></span></b></h3>
                            <h3>Management Team Approval: <b><span th:text="${bank.managementTeamApproval}"></span></b></h3>
                            <h3>Live: <b><span th:text="${bank.live}"></span></b></h3>
                        </div>
                        <div class="col-md-8">
                            <h2>Point Of Contacts:</h2>
                            <table class="table table-borderless table-striped" style="font-size: large">
                                <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Name</th>
                                    <th>Number</th>
                                    <th>Mobile</th>
                                    <th>Extension</th>
                                    <th>Email</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="contact: ${pointOfContacts}">
                                    <td class="count"></td>
                                    <td th:text="${contact.name}"></td>
                                    <td th:text="${contact.number}"></td>
                                    <td th:text="${contact.mobile}"></td>
                                    <td th:text="${contact.extension}"></td>
                                    <td th:text="${contact.email}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>