<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<section layout:fragment="content">
    <div class="layout-main">
        <div class="layout-content">
            <div class="layout-content-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2><b>List Of Customers with Bank Account Linked</b></h2>
                                </div>
                                <div class="card-body">
                                    <table id="demo-datatables-fixedheader-1" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Member Name</th>
                                            <th>Mobile</th>
                                            <th>Bank</th>
                                            <th>Account Number</th>
                                            <th>SignUp Date</th>
                                            <th>Bank Added Date</th>
                                            <th>Group Name</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="bankAccount: ${bankAccountData}">
                                            <td class="count"></td>
                                            <td th:text="${bankAccount.memberName}"></td>
                                            <td th:text="${bankAccount.mobileNumber}"></td>
                                            <td th:text="${bankAccount.bankName}"></td>
                                            <td th:text="${bankAccount.accountNumber}"></td>
                                            <td th:text="${bankAccount.signupDate}"></td>
                                            <td th:text="${bankAccount.bankAddedDate}"></td>
                                            <td th:text="${bankAccount.groupName}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2><b>List Of Customers with No Bank Account</b></h2>
                                </div>
                                <div class="card-body">
                                    <table id="demo-datatables-fixedheader-2" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Member Name</th>
                                            <th>Mobile</th>
                                            <th>Group Name</th>
                                            <th>SignUp Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="noBankAccount: ${noBankAccountData}">
                                            <td class="count"></td>
                                            <td th:text="${noBankAccount.memberName}"></td>
                                            <td th:text="${noBankAccount.mobileNumber}"></td>
                                            <td th:text="${noBankAccount.groupName}"></td>
                                            <td th:text="${noBankAccount.signupDate}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>