<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<section layout:fragment="content">
    <div class="layout-main">
        <div class="layout-content">
            <div class="layout-content-body">
                <div class="container-fluid">
                    <div class="row" id="myDiv" style="display:block;">
                        <div class="col-md-4">
                            <h2>Status:<b><i><span th:text="${customerStatus.groupName}"></span><span th:hidden="${customerStatus.customerStatus}"></span></i></b></h2>
                            <div class="card">
                                <div class="card-header" align="center">
                                    <h2><b>Customer Details</b></h2>
                                </div>
                                <div class="card-body">
                                    <div class="table1">
                                        <table class="table table-borderless table-striped" style="font-size: large">
                                            <tr><th class="text-center">Name</th><td th:text="${customerDetails.name}"></td></tr>
                                            <tr><th class="text-center">Email</th><td th:text="${customerDetails.email}"></td></tr>
                                            <tr><th class="text-center">Mobile</th><td th:text="${customerDetails.mobileNumber}"></td></tr>
                                            <tr><th class="text-center">Login Name</th><td th:text="${customerDetails.loginName}"></td></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" align="center">
                                    <h2><b>Identity Details</b></h2>
                                </div>
                                <div class="card-body">
                                    <div class="table2" >
                                        <table class="table table-borderless table-striped" style="font-size: large">
                                            <thead>
                                            <tr><th class="text-center">Title</th><th>Description</th></tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="customerKYCDetail: ${customerKYCDetails}"><th class="text-center" th:text="${customerKYCDetail.docType}"></th><td th:text="${customerKYCDetail.docValue}"></td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="button1" th:if="${customerStatus.customerStatus == 'NOT VERIFIED'}">
                                <a th:href="@{'/approve/' + ${customerDetails.memberId} + '/' + ${customerStatus.groupId}}" type="submit" class="btn btn-success">Approve</a>
                                <button type="button" data-toggle="modal" data-target="#modalBounceInDown" class="btn btn-warning">Reject</button>
                                <a th:href="@{'/setFlag/' + ${customerDetails.memberId} + '/' + ${customerDetails.name} + '/' + ${customerDetails.mobileNumber}}" type="submit" class="btn btn-danger">Set Flag</a>
                            </div>
                            <div class="button2" th:if="${customerStatus.customerStatus == 'VERIFIED'}">
                                <a th:href="@{'/show-success'}" type="button" class="btn btn-primary">Transaction History</a>
                                <a th:href="@{'/show-fail'}" type="button" class="btn btn-primary">Fail Transactions</a>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-5">
                            <div class="docs" align="center" th:each="image: ${images}">
                                <img class="documents" th:src="@{'data:image/jpeg;base64,' + ${image}}" id="myImg" style="width:380px;height:250px;margin-left:15px;padding:15px"/>
                            </div>
                        </div>
                    </div>
                    <div id="myModal" class="modal" th:each="image: ${images}" >
                        <span class="close" id="close" style="color: white;">X</span>
                        <!--<button type="button" id="rotate"><span class="glyphicon glyphicon-repeat"></span></button>-->
                        <img class="north" id="image" th:src="@{'data:image/jpeg;base64,' + ${image}}" style="height: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var modals = document.getElementsByClassName("modal");
        var img = document.getElementsByClassName("documents");
        var modalImg = document.getElementsByClassName("north");
        var span = document.getElementsByClassName("close");
        for (var i = 0; i<img.length; i++) (function (i) {
            for(var j = 0 ; j<modalImg.length; j++) (function (j) {
                for(var k = 0 ; k<modalImg.length; k++) (function (k) {
                    img[i].onclick = function () {
                        modalImg[j].src = img[i].src;
                        modals[k].style.display = "block";
                        span[k].onclick = function () {
                            modals[k].style.display = "none";
                        }
                    }
                }) (k);
            }) (j);
        })(i);
    </script>
</section>
<section  layout:fragment="content1">
    <div id="modalBounceInDown" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Remarks</h4>
                </div>
                <div class="modal-body">
                    <div class="login-form">
                        <form data-toggle="md-validator" novalidate="novalidate" th:action="@{'/deny/'+ ${customerDetails.memberId} + '/' + ${customerStatus.groupName}}" method="get">
                            <div class="md-form-group md-label-floating">
                                <input class="md-form-control" data-msg-required="Please enter your reason." required=""  type="text" name="description" id="description"/>
                                <label class="md-control-label">Reason for rejection.</label>

                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<script>-->
<!--$('#rotate').click(function(){-->
<!--var image = $('img');-->
<!--if(img.hasClass('north')){-->
<!--img.attr('class','west');-->
<!--}else if(img.hasClass('west')){-->
<!--img.attr('class','south');-->
<!--}else if(img.hasClass('south')){-->
<!--img.attr('class','east');-->
<!--}else if(img.hasClass('east')){-->
<!--img.attr('class','north');-->
<!--}-->
<!--});-->
<!--</script>-->
<!--<script src="/js/wheelzoom.js"></script>-->
<!--<script>-->
<!--wheelzoom(document.querySelector('img.zoom'));-->
<!--</script>-->
</html>