<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<link rel="stylesheet" href="/css/count.css">

<section layout:fragment="content">
    <div class="layout-main">
        <div class="layout-content">
            <div class="layout-content-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="card">
                                <div class="card-header">
                                    <h2><b>Denial Report</b></h2>
                                </div>
                                <div class="card-body">
                                    <table id="demo-datatables-fixedheader-1 tableId2" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Name</th>
                                            <th th:if="${startDate} != null">From Date</th>
                                            <th th:if="${endDate} != null">To Date</th>
                                            <th>Email</th>
                                            <th>Denials</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="denial : ${denials}">
                                            <td class="count"></td>
                                            <td th:text="${denial.user.name}"></td>
                                            <td th:if="${startDate} != null"><span th:text="${startDate}"></span></td>
                                            <td th:if="${endDate} != null"><span th:text="${endDate}"></span></td>
                                            <td th:text="${denial.user.email}"></td>
                                            <td th:text="${denial.count}"></td>
                                            <td th:if="${startDate} == null and ${endDate} == null"><a th:href="@{'/denialReport/' + ${denial.user.id}}" class="button">View</a></td>
                                            <td th:if="${startDate} != null and ${endDate} != null"><a th:href="@{'/denial-count/' + ${denial.user.id} + '/' + ${startDate} + '/' + ${endDate}}">View</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-3">
                            <div class="panel panel-body text-center" data-toggle="match-height">
                                <form autocomplete="off" th:action="@{/showDenialCount}" method="post">
                                    <div class="input-with-icon">
                                        <input class="form-control" type="text" data-provide="datepicker" placeholder="From Date"
                                               data-date-format="yyyy-mm-dd" name="startDate"/>
                                        <span class="icon icon-calendar input-icon"></span>
                                    </div><br>

                                    <div class="input-with-icon">
                                        <input class="form-control" type="text" data-provide="datepicker" placeholder="To Date"
                                               data-date-format="yyyy-mm-dd" name="endDate"/>
                                        <span class="icon icon-calendar input-icon"></span>
                                    </div><br>
                                    <div class="button">
                                        <button class="btn btn-primary btn-sm" type="submit">Show</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>