<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<section layout:fragment="content">
    <div class="layout-main">
        <div class="layout-content">
            <div class="layout-content-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2><b>List Of Denied Customers</b></h2>
                                </div>
                                <div class="card-body">
                                    <table id="demo-datatables-fixedheader-1" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Date</th>
                                            <th>User</th>
                                            <th>Member Id</th>
                                            <th>Member Name</th>
                                            <th>Mobile Number</th>
                                            <th>Group</th>
                                            <th>Remarks</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="denial: ${denials}">
                                            <td th:text="${denial.id}"></td>
                                            <td th:text="${denial.date}"></td>
                                            <td th:text="${denial.user.name}"></td>
                                            <td th:text="${denial.memberId}"></td>
                                            <td th:text="${denial.name}"></td>
                                            <td th:text="${denial.mobile}"></td>
                                            <td th:text="${denial.group}"></td>
                                            <td><p th:text="${denial.description}"></p></td>
                                            <td><a th:href="@{'/deniedCustomer/{mobile}' (mobile =${denial.mobile})}" class="button">View</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>