<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700">
    <link rel="stylesheet" href="/css/vendor.min.css">
    <link rel="stylesheet" href="/css/elephant.min.css">
    <link rel="stylesheet" href="/css/errors.min.css">
</head>
<body>
<div class="error">
    <div class="error-body">
        <h1 class="error-heading">Page Not Found</h1>
        <h4 class="error-subheading">You Have No Access To This Page.</h4>
        <p><a class="btn btn-primary btn-pill btn-thick" th:href="@{/welcome}">Return to homepage</a></p>
    </div>
</div>
<script src="/js/vendor.min.js"></script>
<script src="/js/elephant.min.js"></script>
</body>
</html>