<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<link rel="stylesheet" href="/css/count.css">

<section layout:fragment="content">
    <div class="layout-main">
        <div class="layout-content">
            <div class="layout-content-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2>Failed Transactions</h2>
                                </div>
                                <div class="card-body">
                                    <table id="demo-datatables-fixedheader-1" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>SubTransId</th>
                                            <th>BankTransId</th>
                                            <th>BankTransacted</th>
                                            <th>IsSettlement</th>
                                            <th>IsReversal</th>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>Amount</th>
                                            <th>DateTime</th>
                                            <th>Status</th>
                                            <th>BankResponseCode</th>
                                        </tr>
                                        </thead>
                                        <tbody align="center">
                                        <tr th:each="transaction : ${transactions}">
                                            <td th:text="${transaction.transactionId}"></td>
                                            <td th:text="${transaction.subTransactionId}"></td>
                                            <td th:text="${transaction.bankTransactionId}"></td>
                                            <td th:text="${transaction.bankTransacted}"></td>
                                            <td th:text="${transaction.isSettlement}"></td>
                                            <td th:text="${transaction.isReversal}"></td>
                                            <td th:text="${transaction.fromMobileNo}"></td>
                                            <td th:text="${transaction.toMobileNo}"></td>
                                            <td th:text="${transaction.transactionAmount}"></td>
                                            <td th:text="${transaction.transDateTime}"></td>
                                            <td th:text="${transaction.transStatus}"></td>
                                            <td th:text="${transaction.bankResponseCode}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>
