<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<section layout:fragment="content">
    <div class="layout-main">
        <div class="layout-content">
            <div class="layout-content-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h2><b>List of Flag Users</b></h2>
                            </div>
                            <div class="card-body">
                                <table id="demo-datatables-fixedheader-1" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Flag Id</th>
                                        <th>Date</th>
                                        <th>User</th>
                                        <th>Member Id</th>
                                        <th>Member Name</th>
                                        <th>Mobile</th>
                                        <th>Remarks</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="flag : ${flags}">
                                        <td th:text="${flag.id}"></td>
                                        <td th:text="${flag.date}"></td>
                                        <td th:text="${flag.user.name}"></td>
                                        <td th:text="${flag.memberId}"></td>
                                        <td th:text="${flag.memberName}"></td>
                                        <td th:text="${flag.mobile}"></td>
                                        <td><p th:text="${flag.description}"></p></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>