<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<section layout:fragment="content">
    <div class="layout-main">
        <div class="layout-content">
            <div class="layout-content-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2><b>Latest Customers</b></h2>
                                </div>
                                <div class="card-body">
                                    <table id="demo-datatables-fixedheader-1" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Count</th>
                                            <th>Member Id</th>
                                            <th>Member Name</th>
                                            <th>Mobile No</th>
                                            <td>Creation Date</td>
                                            <td>Modified Date</td>
                                            <td>Group</td>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="semiKYCUser : ${semiKYCUsers}">
                                            <td class="count"></td>
                                            <td th:text="${semiKYCUser.count}"></td>
                                            <td th:text="${semiKYCUser.memberId}"></td>
                                            <td th:text="${semiKYCUser.memberName}"></td>
                                            <td th:text="${semiKYCUser.mobileNo}"></td>
                                            <td th:text="${semiKYCUser.creationDate}"></td>
                                            <td th:text="${semiKYCUser.lastModifiedDate}"></td>
                                            <td th:text="${semiKYCUser.groupName}"></td>
                                            <td><a th:href="@{'/customer/{mobile}' (mobile=${semiKYCUser.mobileNo})}" class="button">View</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>