<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<section layout:fragment="content">
    <div class="layout-main">
        <div class="layout-content">
            <div class="layout-content-body">
                <div class="container-fluid">
                    <h1>Status: <b><span th:text="${lead.status}"></span></b></h1>
                    <hr/>
                    <div class="row">
                        <div class="col-md-5">
                            <h3>Leads Id: <b><span th:text="${lead.id}"></span></b></h3>
                            <h3>Company Name: <b><span th:text="${lead.companyName}"></span></b></h3>
                            <h3>Company Number: <b><span th:text="${lead.companyNumber}"></span></b></h3>
                            <h3>Company Address: <b><span th:text="${lead.companyAddress}"></span></b></h3>
                            <h3>Company Email: <b><span th:text="${lead.companyEmail}"></span></b></h3>
                            <h3>Registered Mobile: <b><span th:text="${lead.registeredMobile}"></span></b></h3>
                            <h3>Registration Number: <b><span th:text="${lead.registrationNumber}"></span></b></h3>
                            <h3>Bank: <b><span th:text="${lead.bank}"></span></b></h3>
                            <h3>Bank Account: <b><span th:text="${lead.bankAccount}"></span></b></h3>
                            <h3>PAN/VAT: <b><span th:text="${lead.PanVat}"></span></b></h3>
                            <hr/>
                            <h3>Representative Name: <b><span th:text="${lead.representativeName}"></span></b></h3>
                            <h3>Representative Number: <b><span th:text="${lead.representativeNumber}"></span></b></h3>
                            <h3>Representative Email: <b><span th:text="${lead.representativeEmail}"></span></b></h3>
                            <hr/>
                            <h3>Remarks: <b><span th:text="${lead.remarks}"></span></b></h3>
                        </div>
                        <div class="col-md-7">
                            <h2>Operators:</h2>
                            <table class="table table-borderless table-striped" style="font-size: large">
                                <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Name</th>
                                    <th>Mobile</th>
                                    <th>Branch</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="operator: ${operators}">
                                    <td class="count"></td>
                                    <td th:text="${operator.name}"></td>
                                    <td th:text="${operator.number}"></td>
                                    <td th:text="${operator.branch}"></td>
                                    <td><a th:href="@{'/edit-operator/{id}' (id=${operator.id})}"><span class="icon icon-edit icon-lg"></span></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>