<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cellpay</title>
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/elephant.css">
    <link rel="stylesheet" href="/css/application.css">
    <link rel="stylesheet" href="/css/demo.css">
    <link rel="stylesheet" href="/css/login-1.min.css">
    <link rel="stylesheet" href="/css/bg.css">
</head>

<body class="bodybg">
<div class=" login-body"  style="margin-top: 80px;background-color:#fff;padding:20px;border:solid 1px #ddd;">
    <form  th:action="@{/login}" method="post" >
        <h3 class="form-signin-heading text-center" th:text="Login"></h3><br />
        <input type="text" id="email" name="email" th:placeholder="Email" class="form-control" required/> <br />
        <input type="password" th:placeholder="Password" id="password" name="password" class="form-control" required/> <br />
        <div align="center" th:if="${param.error}">
            <p style="font-size: 14px; color: #FF1C19;">Email or Password is invalid.</p>
        </div>
        <button class="btn btn-success btn-block" name="Submit" value="Login" type="Submit" th:text="Login" style="margin-right:10px;">
        </button>
        <br/>
        <button class="btn .btn-link btn-block" type="button" data-toggle="modal" data-target="#myModal">Forgot password?</button>
    </form>
</div>
<form th:action="@{/sendToken}" method="post">
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Please Enter Your Valid Cellpay Registered Email Address</h4>
                </div>
                <div class="modal-body">
                    <input type="text" placeholder="Email Address" name="mail" id="mail" class="form-control" required/>
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
<script src="/js/vendor.min.js"></script>
<script src="/js/elephant.min.js"></script>
<script src="/js/application.min.js"></script>
</html>