<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<section layout:fragment="content">
    <div class="layout-main">
        <div class="layout-content">
            <div class="layout-content-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2><b>List Of Merchants</b></h2>
                                </div>
                                <div class="card-body">
                                    <table id="demo-datatables-fixedheader-1" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Member Name</th>
                                            <th>Mobile</th>
                                            <th>Creation Date</th>
                                            <th>Company Name</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="merchant: ${merchants}">
                                            <td class="count"></td>
                                            <td th:text="${merchant.memberName}"></td>
                                            <td th:text="${merchant.mobileNumber}"></td>
                                            <td th:text="${merchant.creationDate}"></td>
                                            <td th:text="${merchant.companyName}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>a