<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cellpay</title>
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/elephant.css">
    <link rel="stylesheet" href="/css/application.css">
    <link rel="stylesheet" href="/css/demo.css">
    <link rel="stylesheet" href="/css/login-1.min.css">
    <link rel="stylesheet" href="/css/bg.css">
</head>
<body class="bodybg">
<div class=" login-body"  style="margin-top: 80px;background-color:#fff;padding:20px;border:solid 1px #ddd;">
    <form autocomplete="off" method="post" th:action="@{/password}">
        <h3 class="form-signin-heading text-center">Change Password</h3><br />
        Email: <input type="text" name="email" id="email" class="form-control" required/><br>
        New Password: <input type="password" name="password" id="password" class="form-control" required/><br>
        Confirm Password: <input type="password" name="c_password" id="c_password" class="form-control" required/><br>
        <button class="btn btn-success btn-block" name="Submit" type="Submit" th:text="Change" style="margin-right:10px;"/>
    </form>
</div>
</body>
<script src="/js/vendor.min.js"></script>
<script src="/js/elephant.min.js"></script>
<script src="/js/application.min.js"></script>
</html>