<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">

<section layout:fragment="content">
	<div class="layout-main">
		<div class="layout-content">
			<div class="layout-content-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-4">
							<div class="card">
								<div class="card-header">
									<h2>Registration Form</h2>
									<h3 th:text="${role.name}"></h3>
								</div>
								<div class="card-body">
									<form autocomplete="off" th:action="@{/register}" th:object="${user}" method="post">
										<div class="form-group">
											<select class="form-control" id="depart" name="depart">
												<option value="default">Choose department</option>
												<option th:each="department : ${departments}" th:value="${department.id}" th:text="${department.name}"></option>
											</select>
										</div>
										<div class="form-group">
											<input type="text" th:field="*{name}" placeholder="Name" class="form-control" autocomplete="off" required/>
										</div>
										<div class="form-group">
											<input type="text" th:field="*{email}" placeholder="Email" class="form-control" autocomplete="off" required/>
										</div>
										<div class="form-group">
											<input type="text" th:field="*{mobile}" placeholder="Mobile" class="form-control" autocomplete="off" required/>
										</div>
										<div class="form-group">
											<input type="hidden" th:field="*{role}" th:value="${role}"/>
										</div>
										<div class="form-group">
											<button type="submit" class="btn btn-primary btn-block">Register</button>
										</div>
										<span th:utext="${successMessage}"></span>
										<div class="alert alert-success alert-dismissible col-sm-12"
											 th:if="${(bindingResult != null && bindingResult.getAllErrors() != null)}">
											<button type="button" class="close" data-dismiss="alert"
													aria-hidden="true">×</button>
											<ul th:each="data : ${bindingResult.getAllErrors()}">
												<li th:text="${data.getObjectName() + ' :: ' + data.getDefaultMessage()}"></li>
											</ul>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</html>