<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<section layout:fragment="content">
    <div class="layout-main">
        <div class="layout-content">
            <div class="layout-content-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2><b>List Of Tickets</b></h2>
                                </div>
                                <div class="card-body">
                                    <table id="demo-datatables-fixedheader-1" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th>Ticket Id</th>
                                            <th>Date</th>
                                            <th>User</th>
                                            <th>Customer Name</th>
                                            <th>Customer Mobile</th>
                                            <th>Address</th>
                                            <th>Problems</th>
                                            <th>Solutions</th>
                                            <th>Remarks</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="ticket : ${tickets}">
                                            <td th:text="${ticket.id}"></td>
                                            <td th:text="${ticket.creationDate}"></td>
                                            <td th:text="${ticket.user.name}"></td>
                                            <td th:text="${ticket.customerName}"></td>
                                            <td th:text="${ticket.customerMobile}"></td>
                                            <td th:text="${ticket.address}"></td>
                                            <td><span th:each="problem : ${ticket.problems}"> <p th:text="${problem.problem}"></p></span> </td>
                                            <td><span th:each="solution : ${ticket.solutions}"><p th:text="${solution.solution}"></p></span></td>
                                            <td><p th:text="${ticket.remarks}"></p></td>
                                            <td th:text="${ticket.status}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>