<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<section layout:fragment="content">
    <div class="layout-main">
        <div class="layout-content">
            <div class="layout-content-body">
                <div class="title-bar">
                    <h1 class="title-bar-title">
                        <span class="d-ib">Ticketing Form</span>
                    </h1>
                    <p class="title-bar-description">
                        <small> Please fill up the ticking form below
                        </small>
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="demo-form-wrapper">
                            <form class="form form-horizontal" th:action="@{/openTicket}" method="post" th:object="${ticket}">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="customerName">Customer Name:</label>
                                    <div class="col-sm-9">
                                        <input name="customerName" required id="customerName" class="form-control" type="text" onkeydown="upperCaseF(this)"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" >Mobile number:</label>
                                    <div class="col-sm-9">
                                        <input name="customerMobile" required id="customerMobile" class="form-control" type="text"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" >Address:</label>
                                    <div class="col-sm-9">
                                        <input name="address" required id="address" class="form-control" type="text" onkeydown="upperCaseF(this)"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Problems:</label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <th:block th:each="problem : ${problems}">
                                                <label >
                                                    <input type="checkbox" id="probs" name="probs" th:value="${problem.name}" />
                                                    <span th:text="${problem.name}"></span>
                                                </label><br>
                                            </th:block>
                                        </div>
                                        <!--<div class="checkbox">-->
                                        <!--<label>-->
                                        <!--<input type="checkbox" name="mode" onchange="function1()">-->
                                        <!--Other-->
                                        <!--</label>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                                <!--<div class="form-group" style="height:50px;">-->
                                <!--<div class="col-sm-3"></div>-->
                                <!--<div class="col-sm-9">-->
                                <!--<input type="text" class="form-control" name="problem" id="problem" style="display: none;"/>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Solutions:</label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <th:block th:each="solution : ${solutions}">
                                                <label >
                                                    <input type="checkbox" id="sols" name="sols" th:value="${solution.name}" />
                                                    <span th:text="${solution.name}"> </span>
                                                </label><br>
                                            </th:block>
                                        </div>
                                        <!--<div class="checkbox">-->
                                        <!--<label>-->
                                        <!--<input type="checkbox" name="mode"  onchange="function2()">-->
                                        <!--Other-->
                                        <!--</label>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                                <!--<div class="form-group">-->
                                <!--<div class="col-sm-3"></div>-->
                                <!--<div class="col-sm-9">-->
                                <!--<input type="text" class="form-control" name="solution" id="solution" style="display: none;"/>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Remarks:</label>
                                    <div class="col-sm-9">
                                        <input name="remarks" id="remarks" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Status:</label>
                                    <div class="col-sm-9">
                                        <div class="radio">
                                            <div th:each="status: ${statusList}">
                                                <label>
                                                    <input type="radio" th:field="*{status}" th:value="${status}"/>
                                                    <span th:text="${status}"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" ></label>
                                    <div class="col-sm-9">
                                        <input type="submit" class="btn btn-success" value="Submit"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function upperCaseF(a){
                setTimeout(function(){
                    a.value = a.value.toUpperCase();
                }, 1);
            }
        </script>
        <!--<script type="text/javascript">-->
        <!--function function1() {-->
        <!--if(document.getElementById("problem").style.display === "none")-->
        <!--{-->
        <!--document.getElementById("problem").style.display = "block";-->
        <!--}-->
        <!--else{-->
        <!--document.getElementById("problem").style.display = "none";-->
        <!--}-->
        <!--}-->
        <!--function function2() {-->
        <!--if(document.getElementById("solution").style.display === "none")-->
        <!--{-->
        <!--document.getElementById("solution").style.display = "block";-->
        <!--}-->
        <!--else{-->
        <!--document.getElementById("solution").style.display = "none";-->
        <!--}-->
        <!--}-->
        <!--</script>-->
    </div>
</section>
</html>