<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<section layout:fragment="content">

    <link rel="stylesheet" href="/css/messenger.min.css">

    <div class="layout-content">
        <div class="messenger">
            <div id="contacts" class="messenger-sidebar">
                <div class="messenger-sidebar-header">
                    <div class="card" th:classappend="${(ticket.priority == 'Normal' ? 'bg-warning' : '') + (ticket.priority == 'High' ? 'bg-danger' : '')}" >
                        <div class="card-body">
                            <div class="media">
                                <div class="media-middle media-left">
                                    <span class="bg-warning-inverse circle sq-48">
                                        <span class="icon icon-list-ol"></span>
                                    </span>
                                </div>
                                <div class="media-middle media-body">
                                    <h5 class="media-heading"> Priority </h5>
                                    <h3 class="media-heading">
                                        <span class="fw-l" th:text="${ticket.priority}"></span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="pull-right">Created by: <span class="fw-l" th:text="${ticket.user.name}"></span></span><br />
                    <em class="pull-right" th:text="${ticket.creationDate}"></em>
                    <hr />
                    <h2><b> Ticket ID: <span th:text="${ticket.id}"></span> </b></h2>
                    <h4 th:text="${ticket.customerName}"></h4>
                    <h4 th:text="${ticket.customerMobile}"></h4>
                    <h4 th:text="${ticket.address}"></h4>
                    <hr />
                    <h4><b> Problems: </b></h4>
                    <ul class="list-group" th:each="problem: ${ticket.problems}">
                        <li class="list-group-item" th:text="${problem.problem}"></li>
                    </ul>
                    <h4><b> Solutions: </b></h4>
                    <ul class="list-group" th:each="solution: ${ticket.solutions}">
                        <li class="list-group-item" th:text="${solution.solution}">
                    </ul>
                    <hr/>
                    <!--<div th:if="${ticket.assignedUser != null}" >-->
                    <!--<label class="control-label" >Ticket Assigned To:</label>-->
                    <!--&lt;!&ndash; <h5 th:text = "${ticket.assignedUser != null} ? 'Yes' : 'No' }"></h5> &ndash;&gt;-->
                    <!--&lt;!&ndash;<h5  th:text="${(ticket.assignedUser.name) + ' - ' +( ticket.assignedUser.department.name)}"></h5>&ndash;&gt;-->
                    <!--</div>-->
                </div>
            </div>
            <div class="messenger-content active" style="height: 689px;">
                <div class="messenger-content-inner">
                    <div class="messenger-content-header">
                        <div class="messenger-content-header-inner">
                            <div class="messenger-toolbar">
                                <div class="messenger-toolbar-tools pull-xs-left">
                                    <div class="btn-group hidden-md hidden-lg">
                                        <button class="btn btn-link link-muted" title="Back to Contacts" data-target="#contacts" data-toggle="tab" type="button" aria-expanded="true">
                                            <span class="icon icon-caret-left icon-lg icon-fw"></span>
                                            Contacts
                                        </button>
                                    </div>
                                    <div class="btn-group hidden-xs hidden-sm">
                                        <a th:href="@{'/markComplete/{ticket}' (ticket = ${ticket.id})}" class="btn btn-link link-muted" title=""
                                           data-container="body" data-trigger="hover" data-placement="bottom" data-toggle="tooltip" type="button">
                                            <span class="icon icon-check-square-o icon-lg" th:if="${ticket.status} == 'Pending'">Mark as Complete</span>
                                            <span class="icon icon-check-square-o icon-lg" th:if="${ticket.status} == 'Resolved'" style="color: green">Completed</span>
                                        </a>
                                    </div>
                                    &nbsp; &nbsp;
                                    <div class="btn-group">
                                        <select class="form-control" id="selectAssigned">
                                            <option value="default">Assign Task To</option>
                                            <option th:each="user : ${users}" th:value="${user.id}" th:text="${(user.name) + ' - ' +( user.department.name)}" id="userAssign"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="messenger-toolbar-tools pull-xs-right">
                                    <div class="btn-group">

                                        <div class="btn-group dropdown">
                                            <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                                <span class="icon icon-cog icon-lg icon-fw"></span>
                                                <span class="visible-lg-inline">Priority</span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a th:href="@{'/addPriority/{ticket}/Low' (ticket = ${ticket.id})}" >Low</a></li>
                                                <li><a th:href="@{'/addPriority/' +${ticket.id} + '/Normal'}">Normal</a></li>
                                                <li><a th:href="@{'/addPriority/' +${ticket.id} + '/High'}">High</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="messenger-content-body">
                        <div class="messenger-content-body-inner">
                            <div class="messenger-scrollable-area" style="position: relative; overflow: scroll; width: 100%; height: 100%;">
                                <div class="messenger-scrollable-content" style="width: 100%; height: 100%;">
                                    <ul class="conversation">
                                        <li class="conversation-item" th:each="comment : ${comments}">
                                            <div th:if="!${comment.systemComment}" class="conversation-other">
                                                <div class="conversation-avatar">
                                                    <h5 th:text="${comment.user.name}"></h5>
                                                </div>
                                                <div class="conversation-messages">
                                                    <div class="conversation-message" th:text="${comment.description}"></div>
                                                    <div class="conversation-timestamp" th:text="${comment.creation_date}"></div>
                                                </div>
                                            </div>
                                            <div th:unless="!${comment.systemComment}">
                                                <p><span th:text="${comment.description}"></span> at <small class="conversation-timestamp" th:text="${comment.creation_date}"></small></p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="messenger-content-footer" th:if="${ticket.status} == 'Pending'">
                        <div class="messenger-content-footer-inner">
                            <form th:action="@{/comments}" method="post" >
                                <div class="messenger-compose">
                                    <div class="messenger-compose-actions">
                                        <div class="messenger-compose-action">
                                            <button class="btn btn-link link-muted" type="button">
                                                <span class="icon icon-smile-o icon-lg"></span>
                                            </button>
                                        </div>
                                        <div class="messenger-compose-action">
                                            <button class="btn btn-link" type="submit">Send</button>
                                        </div>
                                    </div>
                                    <input type="hidden" id="ticket_id" name="ticket_id" th:value="${ticket.id}"/>
                                    <div class="messenger-compose-message">
                                        <textarea class="messenger-compose-input" name="description" id="description" placeholder="Type a message..."></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section >
<section layout:fragment="content1">
    <script th:inline="javascript">
        $('#selectAssigned').change(function() {
            var selected = $('#selectAssigned :selected').val();
            var ticket_id = "[[${ticket.id}]]";
            var link = "/ticketAssign/" + selected + "/" + ticket_id;
            $(location).attr('href', link);

            alert("Assigned Succesfully");
        });
    </script>
</section>
</html>