<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<link rel="stylesheet" href="/css/count.css">

<section layout:fragment="content">
    <div class="layout-main">
        <div class="layout-content">
            <div class="layout-content-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2>Transaction History</h2>
                                </div>
                                <div class="card-body">
                                    <table id="demo-datatables-fixedheader-1" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Id</th>
                                            <th>Date</th>
                                            <th>Type</th>
                                            <th>FromTo</th>
                                            <th>Amount</th>
                                            <th>Fees</th>
                                            <th>Commission</th>
                                            <th>DrCr</th>
                                            <th>Bank</th>
                                            <th>Remarks</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="transaction : ${transactions}">
                                            <td class="count"></td>
                                            <td th:text="${transaction.transDate}"></td>
                                            <td th:text="${transaction.transId}"></td>
                                            <td th:text="${transaction.transType}"></td>
                                            <td th:text="${transaction.transFromTo}"></td>
                                            <td th:text="${transaction.transAmount}"></td>
                                            <td th:text="${transaction.transFees}"></td>
                                            <td th:text="${transaction.transCommission}"></td>
                                            <td th:text="${transaction.transDrCr}"></td>
                                            <td th:text="${transaction.transBank}"></td>
                                            <td th:text="${transaction.transRemarks}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>
