<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<section layout:fragment="content">
    <div class="layout-content">
        <div class="layout-content-body">
            <div class="contact">
                <div class="contact-content-body">

                    <div class="contact-avatar">
                        <form th:action="@{/uploadImage}" method="post" enctype="multipart/form-data">
                            <label class="contact-avatar-btn">
                                <span class="icon icon-camera"></span>
                                <input class="file-upload-input" type="file" name="file" id="file" onchange="this.form.submit()" />
                            </label>
                        </form>

                        <img class="img-rounded" width="128" height="128" th:src="${image}" th:alt="${user.name}" />
                    </div>
                    <div class="contact-info">
                        <h2 class="contact-name" th:text="${user.name}">Darcie Russell</h2>

                        <div><span class="contact-job-title" th:text="${profile.jobTitle}">Executive assistant at Elephant LLC</span> at <span th:text="${profile.employer}"></span></div>
                    </div>

                    <div class="contact-form">
                        <form class="form-horizontal" >
                            <div class="form-groups">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Name</label>
                                    <div class="col-md-9 col-lg-6">
                                        <input class="form-control" type="text" th:value="${user.name}" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Email</label>
                                    <div class="col-md-9 col-lg-6">
                                        <input class="form-control" type="email" th:value="${user.email}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Mobile</label>
                                    <div class="col-md-9 col-lg-6">
                                        <input class="form-control" type="text" th:value="${user.mobile}" />
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form class="form-horizontal" th:action="@{/updateProfile}" method="post" th:object="${profile}" >
                            <div class="form-groups">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Job Title</label>
                                    <div class="col-md-9 col-lg-6">
                                        <input class="form-control" type="text" th:field="*{jobTitle}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Employer</label>
                                    <div class="col-md-9 col-lg-6">
                                        <input class="form-control" type="text" th:field="*{employer}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Join Date</label>
                                    <div class="col-md-9 col-lg-6">
                                        <input class="form-control" type="text" th:field="*{joinDate}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-groups">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Notes</label>
                                    <div class="col-md-9 col-lg-6">
                                        <textarea class="form-control" rows="3" th:field="*{notes}" placeholder="This is optional for any notes to be added . . ." th:inline="text"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-3">
                                        <input class="btn btn-primary" type="submit" value="Send"/>
                                        <button class="btn btn-default" type="button">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section layout:fragment="content1">
    <link rel="stylesheet" href="/css/contacts.min.css">
</section>
</html>
