<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700">
    <link rel="stylesheet" href="/css/vendor.min.css">
    <link rel="stylesheet" href="/css/elephant.min.css">
    <link rel="stylesheet" href="/css/errors.min.css">
</head>
<div class="error">
    <div class="error-body">
        <h1 class="error-heading">Hello <span th:text="${user.name}"></span>!</h1>
        <h4 class="error-subheading">You have successfully verified your account. Now you can login to your account.</h4>
        <p><a class="btn btn-primary btn-pill btn-thick" th:href="@{/login}">Click here to login to your account</a></p>
    </div>
</div>
<script src="/js/vendor.min.js"></script>
<script src="/js/elephant.min.js"></script>
</html>