<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<section layout:fragment="content">
    <div class="layout-content">
        <div class="layout-content-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4" >
                        <h3>Pending</h3>
                        <div class="card" th:each="ticket : ${tickets}" th:if="${ticket.status} == 'Pending'">
                            <a th:href="@{'/comments/' + ${ticket.id}}" class="btn-link">
                                <div class="card-header">
                                    <h5 > <span th:text="${ticket.customerName}" > </span>(<em th:text="${ticket.customerMobile}"></em>) </h5>
                                </div>
                            </a>
                            <div class="card-body">
                                <h5>Problems</h5>
                                <span th:each="problem : ${ticket.problems}"> <p th:text="${problem.problem}"></p></span>
                            </div>
                            <div class="card-footer">
                                <!-- <h6 class="text-left"><em>Assigned to:</em></h6>
                                <h6 class="text-left" >---</h6> -->
                                <h6 class="text-right"><em>Created by:</em></h6>
                                <h6 class="text-right" th:text="${ticket.user.name}"></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" >
                        <h3>Resolved</h3>
                        <div class="card" th:each="ticket : ${tickets}" th:if="${ticket.status} == 'Resolved'">
                            <a th:href="@{'/comments/' + ${ticket.id}}" class="btn-link">
                                <div class="card-header">
                                    <h5 > <span th:text="${ticket.customerName}" > </span>(<em th:text="${ticket.customerMobile}"></em>) </h5>
                                </div>
                            </a>
                            <div class="card-body">
                                <h5>Problems</h5>
                                <span th:each="problem : ${ticket.problems}"> <p th:text="${problem.problem}"></p></span>
                            </div>
                            <div class="card-footer">
                                <!-- <h6 class="text-left"><em>Assigned to:</em></h6>
                                <h6 class="text-left" >---</h6> -->
                                <h6 class="text-right"><em>Created by:</em></h6>
                                <h6 class="text-right" th:text="${ticket.user.name}"></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>