<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<section layout:fragment="content">
    <div class="layout-main">
        <div class="layout-content">
            <div class="layout-content-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2><b>List Of Leads</b></h2>
                                </div>
                                <div class="card-body">
                                    <table id="demo-datatables-fixedheader-1" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Date</th>
                                            <th>User</th>
                                            <th>Company Name</th>
                                            <th>Registered Mobile</th>
                                            <th>Representative Name</th>
                                            <th>Representative Number</th>
                                            <th>Remarks</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="lead : ${leads}">
                                            <td class="count"></td>
                                            <td th:text="${lead.date}"></td>
                                            <td th:text="${lead.user.name}"></td>
                                            <td th:text="${lead.companyName}"></td>
                                            <td th:text="${lead.registeredMobile}"></td>
                                            <td th:text="${lead.representativeName}"></td>
                                            <td th:text="${lead.representativeNumber}"></td>
                                            <td th:text="${lead.remarks}"></td>
                                            <td th:text="${lead.status}"></td>
                                            <td><a th:href="@{'/leads-info/{id}' (id=${lead.id})}"><span class="icon icon-eye icon-lg"></span></a>
                                                <a th:href="@{'/edit-lead/{id}' (id=${lead.id})}"><span class="icon icon-edit icon-lg"></span></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>