<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<section layout:fragment="content">
    <div class="layout-main">
        <div class="layout-content">
            <div class="layout-content-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h2><b>Banks:</b></h2>
                            </div>
                            <div class="card-body">
                                <table id="demo-datatables-fixedheader-1" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Bank</th>
                                        <th>VPN Parameters</th>
                                        <th>VPN Done</th>
                                        <th>ISO Testing</th>
                                        <th>A/C Link Method</th>
                                        <th>A/C Link</th>
                                        <th>Testing</th>
                                        <th>Mgmt Team Approval</th>
                                        <th>Live</th>
                                        <th>Follow Up</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="bank: ${banks}">
                                        <td class="count"></td>
                                        <td th:text="${bank.name}"></td>
                                        <td th:text="${bank.vpnParameters}"></td>
                                        <td th:text="${bank.vpn}"></td>
                                        <td th:text="${bank.isoTesting}"></td>
                                        <td th:text="${bank.accountLinkMethod}"></td>
                                        <td th:text="${bank.accountLink}"></td>
                                        <td th:text="${bank.testing}"></td>
                                        <td th:text="${bank.managementTeamApproval}"></td>
                                        <td th:text="${bank.live}"></td>
                                        <td th:text="${bank.followUp}"></td>
                                        <td><a th:href="@{'/viewBankDetails/' + ${bank.id}}"><span class="icon icon-eye icon-lg"></span></a>
                                            <a th:href="@{'/editBank/' + ${bank.id}}"><span class="icon icon-edit icon-lg"></span> </a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>