<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<section layout:fragment="content">
    <div class="layout-main">
        <div class="layout-content">
            <div class="layout-content-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="card bg-instagram">
                                <a th:href="@{/banks}">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="media-middle media-left">
                                            <span class="bg-primary-inverse circle sq-48">
                                                <span class="icon icon-bank"></span>
                                            </span>
                                            </div>
                                            <div class="media-middle media-body" style="color: white">
                                                <h4 class="media-heading">Banks</h4>
                                                <h3 class="media-heading" th:text="${totalBank}"></h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card bg-primary">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="media-middle media-left">
                                            <span class="bg-primary-inverse circle sq-48">
                                                <span class="icon icon-registered"></span>
                                            </span>
                                        </div>
                                        <div class="media-middle media-body">
                                            <h4 class="media-heading">Registrations</h4>
                                            <h3 class="media-heading" th:text="${totalRegistration}"></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card bg-gray">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="media-middle media-left">
                                            <span class="bg-primary-inverse circle sq-48">
                                                <span class="icon icon-italic"></span>
                                            </span>
                                        </div>
                                        <div class="media-middle media-body">
                                            <h4 class="media-heading">Monthly Registrations</h4>
                                            <h3 class="media-heading" th:text="${monthlyRegistration}"></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card bg-gray">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="media-middle media-left">
                                            <span class="bg-primary-inverse circle sq-48">
                                                <span class="icon icon-italic"></span>
                                            </span>
                                        </div>
                                        <div class="media-middle media-body">
                                            <h4 class="media-heading">Weekly Registrations</h4>
                                            <h3 class="media-heading" th:text="${weeklyRegistration}"></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card bg-success">
                                <a th:href="@{/bankAccountData}">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="media-middle media-left">
                                            <span class="bg-primary-inverse circle sq-48">
                                                <span class="icon icon-star"></span>
                                            </span>
                                            </div>
                                            <div class="media-middle media-body" style="color: white">
                                                <h4 class="media-heading">Full KYC</h4>
                                                <h3 class="media-heading" th:text="${fullKYC}"></h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card bg-primary">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="media-middle media-left">
                                            <span class="bg-primary-inverse circle sq-48">
                                                <span class="icon icon-star-half-empty"></span>
                                            </span>
                                        </div>
                                        <div class="media-middle media-body">
                                            <h4 class="media-heading">Semi KYC</h4>
                                            <h3 class="media-heading" th:text="${semiKYC}"></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="card bg-success">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="media-middle media-left">
                                            <span class="bg-primary-inverse circle sq-48">
                                                <span class="icon icon-users"></span>
                                            </span>
                                        </div>
                                        <div class="media-middle media-body">
                                            <h4 class="media-heading">Verified Customers</h4>
                                            <h3 class="media-heading" th:text="${totalCustomer}"></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card bg-primary">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="media-middle media-left">
                                            <span class="bg-primary-inverse circle sq-48">
                                                <span class="icon icon-users"></span>
                                            </span>
                                        </div>
                                        <div class="media-middle media-body">
                                            <h4 class="media-heading">Semi Customers</h4>
                                            <h3 class="media-heading" th:text="${semiCustomer}"></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card bg-success">
                                <a th:href="@{/agents}">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="media-middle media-left">
                                            <span class="bg-primary-inverse circle sq-48">
                                                <span class="icon icon-font"></span>
                                            </span>
                                            </div>
                                            <div class="media-middle media-body" style="color: white">
                                                <h4 class="media-heading">Verified Agents</h4>
                                                <h3 class="media-heading" th:text="${totalAgent}"></h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card bg-primary">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="media-middle media-left">
                                            <span class="bg-primary-inverse circle sq-48">
                                                <span class="icon icon-font"></span>
                                            </span>
                                        </div>
                                        <div class="media-middle media-body">
                                            <h4 class="media-heading">Semi Agents</h4>
                                            <h3 class="media-heading" th:text="${semiAgent}"></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card bg-success">
                                <a th:href="@{/merchants}">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="media-middle media-left">
                                            <span class="bg-primary-inverse circle sq-48">
                                                <span class="icon icon-shopping-bag"></span>
                                            </span>
                                            </div>
                                            <div class="media-middle media-body" style="color: white">
                                                <h4 class="media-heading">Verified Merchants</h4>
                                                <h3 class="media-heading" th:text="${totalMerchant}"></h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card bg-warning">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="media-middle media-left">
                                            <span class="bg-primary-inverse circle sq-48">
                                                <span class="icon icon-shopping-bag"></span>
                                            </span>
                                        </div>
                                        <div class="media-middle media-body">
                                            <h4 class="media-heading">Semi Merchants</h4>
                                            <h3 class="media-heading" th:text="${semiMerchant}"></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-md-offset-3">
                            <div class="card bg-success">
                                <a th:href="@{/approve-count}">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="media-middle media-left">
                                            <span class="bg-primary-inverse circle sq-48">
                                                <span class="icon icon-check"></span>
                                            </span>
                                            </div>
                                            <div class="media-middle media-body" style="color: white">
                                                <h4 class="media-heading">Approvals</h4>
                                                <h3 class="media-heading" th:text="${approvalCount}"></h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card bg-warning">
                                <a th:href="@{/denial-count}">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="media-middle media-left">
                                            <span class="bg-primary-inverse circle sq-48">
                                                <span class="icon icon-user-times"></span>
                                            </span>
                                            </div>
                                            <div class="media-middle media-body" style="color: white">
                                                <h4 class="media-heading">Denials</h4>
                                                <h3 class="media-heading" th:text="${denialCount}"></h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card bg-danger">
                                <a th:href="@{/flag-count}">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="media-middle media-left">
                                            <span class="bg-primary-inverse circle sq-48">
                                                <span class="icon icon-flag"></span>
                                            </span>
                                            </div>
                                            <div class="media-middle media-body" style="color: white">
                                                <h4 class="media-heading">Flags</h4>
                                                <h3 class="media-heading" th:text="${flagCount}"></h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h3><b>Assigned Tickets</b></h3>
                            <div class="card" th:each="ticket : ${tickets}" th:if="${ticket.status} == 'Pending'"
                                 th:classappend="${(ticket.priority == 'Normal' ? 'bg-warning' : '') + (ticket.priority == 'High' ? 'bg-danger' : '')}">
                                <a th:href="@{'/comments/' + ${ticket.id}}" class="btn-link">
                                    <div class="card-header">
                                        <h4><span th:each="problem : ${ticket.problems}"><p th:text="${problem.problem}" style="color: white;"></p></span></h4>
                                    </div>
                                    <div class="card-body">
                                        <h4 style="color: white"> <span th:text="${ticket.customerName}" ></span> (<em th:text="${ticket.customerMobile}"></em>)</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>
