<html xmlns:th="http://www.thymeleaf.org">
<div class="layout-header" th:fragment="navbar">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand navbar-brand-center" href="/welcome">DashBoard</a>
            <button class="navbar-toggler collapsed visible-xs-block" type="button" data-toggle="collapse" data-target="#sidenav">
                <span class="sr-only">Toggle navigation</span>
                <span class="bars">
              <span class="bar-line bar-line-1 out"></span>
              <span class="bar-line bar-line-2 out"></span>
              <span class="bar-line bar-line-3 out"></span>
            </span>
                <span class="bars bars-x">
              <span class="bar-line bar-line-4"></span>
              <span class="bar-line bar-line-5"></span>
            </span>
            </button>
            <button class="navbar-toggler collapsed visible-xs-block" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="arrow-up"></span>
                <span class="ellipsis ellipsis-vertical"></span>
            </button>
        </div>
        <div class="navbar-toggleable">
            <nav id="navbar" class="navbar-collapse collapse">
                <button class="sidenav-toggler hidden-xs" title="Collapse sidenav ( [ )" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="bars">
                <span class="bar-line bar-line-1 out"></span>
                <span class="bar-line bar-line-2 out"></span>
                <span class="bar-line bar-line-3 out"></span>
                <span class="bar-line bar-line-4 in"></span>
                <span class="bar-line bar-line-5 in"></span>
                <span class="bar-line bar-line-6 in"></span>
              </span>
                </button>
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden-xs hidden-sm">
                        <!--<div class="navbar-text">-->
                        <!--<img class="rounded" src="/images/2001.jpg" width="50" height="30">-->
                        <!--<b><i><span th:text="${user.name}" style="color: white; font-size: large;"></span></i></b>-->
                        <!--</div>-->
                    </li>

                    <li class="hidden-xs hidden-sm">
                        <form class="navbar-search navbar-search-collapsed"  autocomplete="off" th:action="@{/customer}" method="post">
                            <div class="navbar-search-group">
                                <input class="navbar-search-input" type="text" placeholder="Enter Mobile number" name="number">
                                <button class="navbar-search-toggler" title="Expand search form ( S )" type="button">
                                    <span class="icon icon-search icon-lg"></span>
                                </button>
                                <button class="navbar-search-adv-btn" type="submit" onclick="myFunction()">Search</button>
                            </div>
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

</html>