<html xmlns:th="http://www.thymeleaf.org">
<div class="layout-sidebar" th:fragment="sidenav">
    <div class="layout-sidebar-backdrop"></div>
    <div class="layout-sidebar-body" style="margin-top: 12px;">
        <nav id="sidenav" class="sidenav-collapse">
            <ul class="sidenav">
                <li class="sidenav-item has-subnav">
                    <a href="#" aria-haspopup="true" class="collapse">
                        <span class="sidenav-icon icon icon-exclamation-triangle"></span>
                        <span class="sidenav-label">Admin</span>
                    </a>
                    <ul class="sidenav-subnav">
                        <li class="sidenav-item" sec:authorize="hasRole('ROLE_SUPER_ADMIN')"
                            th:classappend="${#httpServletRequest.getRequestURI().startsWith('/assign-role') ? 'active':''}">
                            <a th:href="@{'/assign-role'}" class="button">
                                <span class="sidenav-icon icon icon-user-plus"></span>
                                <span class="sidenav-label">Register New User</span>
                            </a>
                        </li>
                        <li class="sidenav-item" sec:authorize="hasRole('ROLE_SUPER_ADMIN')"
                            th:classappend="${#httpServletRequest.getRequestURI().startsWith('/users') ? 'active':''}">
                            <a th:href="@{'/users'}" class="button">
                                <span class="sidenav-icon icon icon-group"></span>
                                <span class="sidenav-label">View All Users</span>
                            </a>
                        </li>
                        <li class="sidenav-item" sec:authorize="hasRole('ROLE_SUPER_ADMIN')"
                            th:classappend="${#httpServletRequest.getRequestURI().startsWith('/bank') ? 'active':''}">
                            <a th:href="@{'/bank'}" class="button">
                                <span class="sidenav-icon icon icon-plus-circle"></span>
                                <span class="sidenav-label">Add Bank</span>
                            </a>
                        </li>
                        <li class="sidenav-item" sec:authorize="hasRole('ROLE_SUPER_ADMIN')"
                            th:classappend="${#httpServletRequest.getRequestURI().startsWith('/viewBanks') ? 'active':''}">
                            <a th:href="@{'/viewBanks'}" class="button">
                                <span class="sidenav-icon icon icon-bank"></span>
                                <span class="sidenav-label">Banks</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidenav-item has-subnav">
                    <a href="#" aria-haspopup="true">
                        <span class="sidenav-icon icon icon-users"></span>
                        <span class="sidenav-label">Customer Support</span>
                    </a>
                    <ul class="sidenav-subnav collapse">
                        <li class="sidenav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/latest-customers') ? 'active':''}">
                            <a th:href="@{'/latest-customers'}" class="button">
                                <span class="sidenav-icon icon icon-star-half-empty"></span>
                                <span class="sidenav-label">View Latest SemiKYC</span>
                            </a>
                        </li>
                        <li class="sidenav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/customers') ? 'active':''}">
                            <a th:href="@{'/customers'}" class="button">
                                <span class="sidenav-icon icon icon-star-half-empty"></span>
                                <span class="sidenav-label">View SemiKYC List</span>
                            </a>
                        </li>
                        <li class="sidenav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/approve') ? 'active':''}">
                            <a th:href="@{'/approve'}" class="button">
                                <span class="sidenav-icon icon icon-at"></span>
                                <span class="sidenav-label">View Approved List</span>
                            </a>
                        </li>
                        <li class="sidenav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/deny') ? 'active':''}">
                            <a th:href="@{'/deny'}" class="button">
                                <span class="sidenav-icon icon icon-user-times"></span>
                                <span class="sidenav-label">View Denied List</span>
                            </a>
                        </li>
                        <li class="sidenav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/flag') ? 'active':''}">
                            <a th:href="@{'/flag'}" class="button">
                                <span class="sidenav-icon icon icon-flag"></span>
                                <span class="sidenav-label">View Flag Users</span>
                            </a>
                        </li>
                        <li class="sidenav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/ticket') ? 'active':''}">
                            <a th:href="@{'/ticket'}" class="button">
                                <span class="sidenav-icon icon icon-unlock"></span>
                                <span class="sidenav-label">Open Ticket</span>
                            </a>
                        </li>
                        <li class="sidenav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/viewTickets') ? 'active':''}">
                            <a th:href="@{'/viewTickets'}" class="button">
                                <span class="sidenav-icon icon icon-television"></span>
                                <span class="sidenav-label">View Tickets</span>
                            </a>
                        </li>
                        <li class="sidenav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/show-success') ? 'active':''}">
                            <a th:href="@{'/show-success'}" class="button">
                                <span class="sidenav-icon icon icon-check"></span>
                                <span class="sidenav-label">Success Transaction</span>
                            </a>
                        </li>
                        <li class="sidenav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/show-fail') ? 'active':''}">
                            <a th:href="@{'/show-fail'}" class="button">
                                <span class="sidenav-icon icon icon-times"></span>
                                <span class="sidenav-label">Failed Transaction</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidenav-item has-subnav">
                    <a href="#" aria-haspopup="true">
                        <span class="sidenav-icon icon icon-user-secret"></span>
                        <span class="sidenav-label">HR</span>
                    </a>
                </li>
                <li class="sidenav-item has-subnav">
                    <a href="#" aria-haspopup="true">
                        <span class="sidenav-icon icon icon-briefcase"></span>
                        <span class="sidenav-label">Sales</span>
                    </a>
                    <ul class="sidenav-subnav collapse">
                        <li class="sidenav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/lead') ? 'active':''}">
                            <a th:href="@{'/lead'}" class="button">
                                <span class="sidenav-icon icon icon-plus"></span>
                                <span class="sidenav-label">Add Leads</span>
                            </a>
                        </li>
                        <li class="sidenav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/view-leads') ? 'active':''}">
                            <a th:href="@{'/view-leads'}" class="button">
                                <span class="sidenav-icon icon icon-eye"></span>
                                <span class="sidenav-label">View Leads</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidenav-item">
                    <a th:href="@{'/userProfile'}" class="button">
                        <span class="sidenav-icon icon icon-user"></span>
                        <span class="sidenav-label">Profile</span>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a th:href="@{'/change-password'}" class="button">
                        <span class="sidenav-icon icon icon-unlock-alt"></span>
                        <span class="sidenav-label">Change Password</span>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a th:href="@{'/logout'}" class="button">
                        <span class="sidenav-icon icon icon-power-off"></span>
                        <span class="sidenav-label">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</html>